<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHOP!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"
    
  </head>
  <body>


<!--- CODE -->
    
    <div class=title>
      <h1> <img class = "soup" src="static/images/food.png"><br>CHOP!</h1>
      <h2>
        <button class = "recipesMain"><a href = "recipes"> Recipes </a> </button><br><br>
        <button class = "mapMain"> <a href = "map"> Map </a> </button><br><br>
        <button class = "missionMain"><a href = "ourmission"> Our Mission </a> </button>
      </h2>
    </div>
<!--    <div class="grid-container">
      <div class="soup"><img src="static/images/food.png"></div>
      <div class="header"><h1>CHOP!</h1></div>
      
      <div class="recipesMain"><button><a href = "/templates/recipes.html"> Recipes </a> </button></div>
      <div class="mapMain"><button><a href = "map.html"> Map </a> </button></div>
      <div class="missionMain"><button><a href = "ourmission.html"> Our Mission </a> </button></mission>

    </div>
-->    
    
      
    


<!---- End of code ---->     
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>