<!doctype html>
<html lang="en" class="M">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAP!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"
    
  </head>
  <body>


<!--- CODE --->

    <ul>
    <button class = "mapButton"> MAP </button>
    <a href="home">
    <img class = "homeButton" src="static/images/food.png">
    </a>
    </ul>
      
    <img class = "map" src="static/images/map.png">
    
    
    <div id="wrapper">
    <img src="static/images/pin.png" class="pin" class="hover"/>
    <p class="text">Try Elko Nevada Farmers Market!</p>
</div>

    



    


<!---- End of code ---->     
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>